<%= render "layouts/title_header", title: @story.title %>
<p><%= @story.description %></p>

<div class="row">
  <div class="col-auto">
    <div id="character" class="link card text-white bg-lavender mb-3" style="width: 18rem; height: 14rem;cursor: pointer;">
      <div class="card-header text-center">─── ･ ｡ﾟ☆: *.☽ .* :☆ﾟ. ───</div>
      <div class="card-body">
        <h5 class="card-title">
          <i class="fas fa-dove"></i> Characters <i class="fas fa-dove"></i>
        </h5>
        <p class="card-text">
          <% limit_size = @story.characters.size > 4 ? 3 : 4 %>
          <% @story.characters.limit(limit_size).each do |character| %>
            <%= character.name %> <br/>
          <% end %>
          <%= limit_size == 3 ? "and more.." : "" %>
        </p>
      </div>
    </div>
  </div>
  <!-- activate characters for story -->
  <div class="col-auto">
    <div id="chapter" class="link card bg-yellow text-white mb-3" style="width: 18rem; height: 14rem;cursor: pointer;">
      <div class="card-header text-center">─── ･ ｡ﾟ☆: *.☽ .* :☆ﾟ. ───</div>
      <div class="card-body">
        <h5 class="card-title">
          <i class="fas fa-star"></i> Chapters <i class="fas fa-star"></i>
        </h5>
        <p class="card-text">
          <%= "#{chapter_size = @story.chapters.size} #{chapter_size > 1 ? "chapters" : "chapter"}" %><br/>
          FILL LATER : # of endings
        </p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div id="story" class="link card bg-orange text-white mb-3" style="width: 18rem; height: 14rem;cursor: pointer;">
      <div class="card-header text-center">─── ･ ｡ﾟ☆: *.☽ .* :☆ﾟ. ───</div>
      <div class="card-body">
        <h5 class="card-title"> <i class="fas fa-chess-knight fa-flip-horizontal"></i> Edit Dating Sim <i class="fas fa-chess-knight"></i></h5>
        <p class="card-text">
          <%= @story.status.humanize %>  
        </p>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div id="play" class="link card bg-hot-pink text-white mb-3" style="width: 18rem; height: 14rem;cursor: pointer;">
      <div class="card-header text-center">─── ･ ｡ﾟ☆: *.☽ .* :☆ﾟ. ───</div>
      <div class="card-body">
        <h5 class="card-title"> <i class="fas fa-chess-knight fa-flip-horizontal"></i> Play [WIP] <i class="fas fa-chess-knight"></i></h5>
        <p class="card-text">
          Play Online <br/>
          Download
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to "back", stories_path %>

<script type="text/javascript">
  $('#character').click(function(){
    window.location.href = "<%= story_storycharacters_path(@story) %>";
  });
  $('#chapter').click(function(){
    window.location.href = "<%= story_chapters_path(@story) %>";
  });
  $('#story').click(function(){
    window.location.href = "<%= edit_story_path(@story) %>";
  });
</script>