<h1><%= @story.title %> - <%= @chapter.title %></h1>

<button class="btn btn-dating">Edit</button>
<%= link_to "New Line", new_story_chapter_line_path(@story, @chapter), class: "btn btn-dating" %>

<% @lines.each do |line| %>
  <div class="card text-white bg-lavender my-3">
    <div class="card-body">
      <p class="card-text"><%= line.speaker_name %>: <%= line.text %></p>
    </div>
  </div>
<% end %>

<!-- pagination -->